/* GENERAL */
*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Crete Round',serif;
    font-size: 45px;
    color:#444;    

}
h2{
    color:#444;
    font-style:55px;
}

h4{
    font-size: 24px;
    color:#444;
}

p{
    line-height:20px;
    color:#777;   
}


ul
{
    list-style: none; /*on enlève le bullets*/
}
/* le conteneur invisible qui se centre automatiquement au milieux*/
.wrapper{
    width:940px;
    margin:0 auto;
    padding:0 10px: /* padding pour qu'il ne soit pas collé */
}

.orange{
    color :#ff7a00;
}

a{
    text-decoration: none; /* pour que le lien ne soit plus souligné */
    color :#444;
}
.clear{
    clear: both;
}
small
{
    font-size: 13px;
    font-style: italic;
}

/*HEADER*/

header{
    height: 120px;
}
/* On fait flotter le titre du header à gauche*/
header h1{
    float:left;
    margin-top:32px;
}
/*header de navigation */
header nav{
    float:right;
    margin-top:50px;
    
}

header nav ul li{
    float:left; /* chacun de li flotte par rapport au ul */
    display:inline-block; /* ecrire les elements de la liste  l'un a coté de l'autre*/
}

header nav ul li a{
    text-transform: uppercase; /* mettre en maj*/
    font-weight: bold; /* les liens en gras*/
    margin-right: 20px; /* on les espace de 20 px */    
}

/* MAIN IMAGE */
#main-image{
    height:500px;
    background: url('./images/main.jpg') center;

}

#main-image h2 {
    font-weight: normal; /* nellever le gras*/
    text-transform: uppercase;
    text-align: center; /* centrer le texte*/
    padding:150px 0 40px 0;
    margin-bottom: 20px;
}

.button-1{
    display: block;
    width: 120px;
    height: 50px;
    background: #ff7a00;
    color:#fff;
    font-size: 20px;
    margin: 0 auto; /* haut/bas : pas de marge , centrer */
    line-height: 50px ; /* la hauteur de ligne */
    text-align: center; /* centrer le texte */
    border-radius: 3px;
}
.button-1:hover{
    background: #02b8dd;
}


/* STEPS */

#steps ul {
    /* pour que ça soit espacé de la première images */
    margin: 80px 0;
    
}

/* les faire flotter chacune à gauche 
les mettre cote à cote */
#steps ul li {
    width:300px;
    float: left;
    /* pour que le texte soit en bas de l'image*/
    padding-top: 140px;
    /* pour que le texte soit centré */
    text-align: center;
    /* espaces entres les différents li */
    margin-right: 10px;
    
}

#steps h4{
    text-transform: uppercase;
    margin-bottom: 20px; /* pour ne pas colleer au paragraphe*/
}
#steps p{
    margin-bottom: 20px;
}


#step-1 {
    /* pour ne pas répéter l'image sur toute la taille */
    background: url('./images/steps-icon-1.png')  no-repeat top center;
    
}
#step-2 {
    background: url('./images/steps-icon-2.png')  no-repeat top center;
}
#step-3 {
    background: url('./images/steps-icon-3.png')  no-repeat top center;
}


/* POSSIBILITIES */

#possibilities{
    background-color: #efefef;
    padding:60px 0;
    
}

#possibilities article{
    float:left;
    width:460px;
    height: 270px;
    box-sizing: border-box;
    border-radius:10px;
    
    
}

#possibilities article:first-child{
    margin-right: 20px;
}


.overlay{
    background:rgba(255,255,255,0.95);
    height: 100%;
    width: 190px;
    padding:20px;
    border-radius: 10px;
    text-align: center;
}

article h4{
    border-bottom: 1px solid #ddd; /* le trait */
    padding-bottom: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
}

#possibilities p {
    text-align: center;
    margin-bottom: 20px ; /* marge avec le boutton */
}

.button-2{
    color:#fff;
    background-color: #ff7a00;
    padding:6px 20px; /* combien d'orange autour du texte*/
    border-radius: 3px;
}

.button-2:hover{
    color:#fff;
    background-color: #02b8dd;

}